<div class="modal fade" id="deleteUserConfModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppprimer le compte de l'utilisateur : {{ user.username }}</h5>
                <button type="button" class="close btn btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer ce compte?</p>
            </div>
            <div class="modal-footer">
                {{ form_start(formDeleteUser, {'action' :path('delete_user',{'user': user.id })}) }}
                {{ form_end(formDeleteUser) }}
            </div>
        </div>
    </div>
</div>