.container {
    padding-top: 100px;
}

.avatar-profil {
    max-height: 200px;
    max-width: 100%;
    margin: auto;
}
.box-avatar-profil{
    margin: auto;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.carousel-image {
    max-height: 100%;
    width: auto;
    margin: auto;
}

.carousel-box {
    height: 500px;
}
.image-list{
    max-height: 100%;
    width: auto;
    margin:auto;
}
.image-home{
    height: 200px;
    margin:auto;
}
.home-card{
    height: 500px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card-link-title{
    color: var(--bs-card-color);
    text-decoration: none;
}
.fieldImage{
    border: #0a53be 1px solid;
    border-radius: 20px;
    z-index: 80;
    margin: 3%;
    padding: 5%;
}
.fieldImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
li{
    list-style: none;
}

.user-image {
    width: 100px;
    height: 100px;
}

.comment {
    border: #888888 1px solid;
    border-radius: 10px;
    padding : 1%;
}

.btn-notif{
    border-radius: 30px;
}