# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\perso\equi-tao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
