{% extends 'base.html.twig' %}
{% block title %}
    Changer de mot de passe
{% endblock %}

{% block body %}
<div class="container">
    <a class="offset-2 col-8 "></a>

    <h1 class="update_user">Changer mon mot de passe</h1>
    <div class="offset-2 col-8">
        {{ form_start(form) }}

        {% if user == app.user  %}
            {{ form_row(form.password_old, {'label' : 'Ancien mot de passe'}) }}
        {% endif %}
        {{ form_row(form.password_new, {'label' : 'Nouveau mot de passe'}) }}

        <button id="submitFormsButton"
                class="btn btn-outline-success offset-xs-3 col-xs-6 offset-sm-4 col-sm-4 text-center">Modifier le mot
            de passe
        </button>

        {{ form_end(form) }}

    </div>

    {% endblock %}


